<header class="body-header">
  <div class="container tab-flex">
    <nav class="nav-container flex-header">
      <a
        href="./index.html"
        class="company-title company-title--header body-header-link"
        >Web<span class="company-title-studio">Studio</span></a
      >
      <button type="button" class="menu-button" data-mobile-open>
        <svg class="" width="24" height="24">
          <use href="./images/icons.svg#mob-menu-button"></use>
        </svg>
      </button>
      <ul class="nav-menu">
        <li>
          <a
            href="./index.html"
            target="_blank"
            class="nav-menu-studio studio-active body-header-link"
            >Studio</a
          >
        </li>
        <li>
          <a href="" target="_blank" class="nav-menu-studio body-header-link"
            >Portfolio</a
          >
        </li>
        <li>
          <a href="" target="_blank" class="nav-menu-studio body-header-link"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <address class="address-top">
      <ul class="address-list">
        <li>
          <a
            href="mailto:info@devstudio.com"
            class="address-task-requierement body-header-link"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a
            href="tel:+110001111111"
            class="address-task-requierement body-header-link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>
  <div class="mob-menu is-ope" data-mobile>
    <div>
      <button type="button" class="modal-button-close" data-mobile-close>
        <svg class="" width="8" height="8">
          <use href="./images/icons.svg#icon-close-black-18dp-2-1"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-nav-list">
          <li>
            <a
              href="./index.html"
              target="_blank"
              class="mob-menu-studio current"
              >Studio</a
            >
          </li>
          <li>
            <a href="" target="_blank" class="mob-menu-studio">Portfolio</a>
          </li>
          <li>
            <a href="" target="_blank" class="mob-menu-studio">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <address class="address-mobile">
        <ul class="mob-address-list">
          <li>
            <a
              href="tel:+110001111111"
              class="address-task-requierement menu-studio-active"
              >+11 (000) 111-11-11</a
            >
          </li>
          <li>
            <a
              href="mailto:info@devstudio.com"
              class="address-task-requierement"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
      <div class="mobile-media">
        <ul class="mob-menu-social-container">
          <li class="social-container-item">
            <a class="social-container-link" href="#facebook"
              ><svg width="24" height="24" class="icon">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-container-item">
            <a class="social-container-link" href="#instagram"
              ><svg width="24" height="24" class="icon">
                <use href="./images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="social-container-item">
            <a class="social-container-link" href="#linked-in"
              ><svg width="24" height="24" class="icon">
                <use href="./images/icons.svg#icon-linkedin"></use></svg
            ></a>
          </li>
          <li class="social-container-item">
            <a class="social-container-link" href="#twitter"
              ><svg width="24" height="24" class="icon">
                <use href="./images/icons.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
